@charset "uft-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 14px;
    background: #f4f5f9;
    color: #666;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    background: transparent;
    border: none;
}

/* container */
.container {
    margin: 0 auto;
    background: #fff;
    max-width: 768px;
    height: 10000px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.75rem 0 1.75rem;
}

.back_wrap {
    display: flex;
}

header a img {
    width: 24px;
    height: 24px;
}

header h1 {
    font-size: 19px;
    color: #111;
    padding-left: .5rem;
}

/* inner_wrap */
.inner_wrap {
    padding: 2rem 1.75rem 0;
}

.inner_wrap .tit {
    font-size: 24px;
    color: #111;
    line-height: 1.21;
}

.inner_wrap .sub_text {
    font-size: 13px;
    line-height: 1.38;
    margin-top: 1rem;
}

/* banner_wrap */
.banner_wrap {
    padding: 2rem 1.75rem 0;
}

.banner_wrap ul li:first-child {
    background: #4585ff14;
}

.banner_wrap ul li:nth-child(2) {
    background: #9393930f;
}

.banner_wrap ul li:last-child {
    background: #f4915614;
}

.banner_wrap ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
}

.banner_wrap ul li+li {
    margin-top: 0.5rem;
}

.banner_wrap ul li img {
    width: 60px;
}

.banner_cash .sub_tit {
    font-size: 12px;
    color: #01010166;
}

.banner_cash .tit {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

/* btn_join */
.btn_join {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    height: 50px;
    margin: 2rem 1rem;
    border-radius: 50px;
    color: #fff;
    background: #5e2bb8;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn_join img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

/* sns_wrap */
.sns_wrap {
    text-align: center;
}

.sns_wrap .img img {
    width: 22%;
}

.sns_wrap p {
    color: #999;
    font-size: 13px;
    font-weight: bold;
}

.sns_wrap .sns {
    margin-top: 1rem;
}

.sns_wrap .sns img {
    width: 46px;
    height: 46px;
}

.sns_wrap .sns a+a {
    margin-left: 1.25rem;
}